# dependencies
node_modules/

# next.js build output
.next/
out/
dist/

# local env files (NEVER COMMIT)
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# cache
.turbo/

# Docker local volumes (if any)
docker-data/
pgdata/
**/docker-data/
**/pgdata/
